<div class="slide slide-{{id}}">
  <div class="copy"></div>
  {{#code}}
  <section class="code-layout">
    <pre><code class="language-javascript"></code></pre>
    <button class="request" data-env="phantomjs-1.9.8">PhantomJS v1.9.8</button>
    <button class="request" data-env="phantomjs-2.0.0">PhantomJS v2.0.0</button>
    <button class="request" data-env="node">Node v0.10.36</button>
    <button class="request" data-env="clear">Code</button>
  </section>
  {{/code}}
</div>
